# Adresse publique à définir avant d'indexer la politique de confidentialité.
LEGAL_CONTACT_EMAIL=

# Informations publiques de l'hébergeur.
LEGAL_HOST_NAME="Infomaniak Network SA"
LEGAL_HOST_ADDRESS="Rue Eugène Marziano 25, 1227 Les Acacias (GE), Suisse"
