/.env.local
/.env.local.php
/.env.*.local
/vendor/
/node_modules/
/.phpunit.cache/
/var/
/var/lighthouse/*
/var/panther/
/var/error-screenshots/
/public/build/
/config/reference.php
public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
public/uploads/media/*
!public/uploads/media/.gitkeep
!public/uploads/media/360/
public/uploads/media/360/*
!public/uploads/media/360/.gitkeep
!public/uploads/media/variants/
public/uploads/media/variants/*
!public/uploads/media/variants/.gitkeep
!public/uploads/media/posters/
public/uploads/media/posters/*
!public/uploads/media/posters/.gitkeep
npm-debug.log*
yarn-error.log*
### Symfony secrets / vault ###
/config/secrets/*/*decrypt.private.php
/config/secrets/*/*.private.php
/config/production/initial-admins.yaml
!/config/production/initial-admins.yaml.dist
