parameters:
    level: 5

    doctrine:
        allowNullablePropertyForRequiredField: true

    paths:
        - src

    tmpDir: var/cache/phpstan

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
