<section class="public-detail-hero">
    <div class="public-detail-container public-detail-hero-grid">
        <div class="public-detail-hero__content">
            {% block public_detail_hero_content %}{% endblock %}
        </div>

        {% block public_detail_hero_cover %}{% endblock %}
    </div>
</section>
